
.carousel{

  &__title{
    text-transform: uppercase;
    margin: 0 !important;
    text-align: center;
    margin: 0 !important;
  }

  //&__content{
  //  border: 3px solid cyan;
  //}

  //.slick-list{
  //  //max-width: 900px !important;
  //  //min-width: 900px !important;
  //  width: 900px !important;
  //  border: 3px solid white !important;
  //}

  .slick-list{
    width: 900px !important;
    border: 3px solid white !important;
  }

<<<<<<< HEAD

  .slide {
    //border: 3px solid red;
    //width: 00px;
    height: 600px;
    //object-fit: cover;

    img{
      max-width: 900px;
      max-height: 600px;
      object-fit: cover;
    }
  }

}

.slick-list{
  width: 900px !important;
  border: 3px solid white !important;
=======
  &__content{
    display: inline-block;
    margin: auto;
  }

  .slide{
    width: 900px;
    height: 600px;
  }

  .image{
    width: 900px;
    height: 600px;
    object-fit: cover;
  }




>>>>>>> a92a707d5cad48d4b7fda2fa5a9c231bfb14178b
}
